---
name: insites_admin_recover_password
resource: Customization
resource_owner: anyone
redirect_to: admin/login
flash_notice: If you provided a valid account, you will receive a password reset link and instructions via email.
fields:
  properties:
    email:
      validation:
        presence: true
        email: true
callback_actions: |-
  {% log "insites_admin_recover_password" %}
  {% query_graph 'modules/insites_core/insites_generate_user_temporary_token', email: form.properties.email, result_name: 'g' %}
  {% log g %}
  {% if g.user %}
    {% execute_query 'modules/insites_core/insites_update_password_token', id: g.user.id, token: g.user.temporary_token %}
  {% endif %}
---
{%- assign name = 'Insites Admin - Recover Password' -%}
{%- content_for 'pagetitle' -%}{{ name }}{%- endcontent_for -%}

<style>
  .forgot-password-wrap p.error-block {
    display: none;
  }
  .forgot-password-wrap p.error-block-out {
    color: #f27474;
    display: none;
  }
  .control-group.email.required.form_properties_email.error + p.error-block-out {
    display: block;
  }
  .is-invalid-input {
    margin-bottom: 0;
  }
  .form-wrap .forgot-password-wrap label.form-label {
    font-weight: 600;
  }
  .form-wrap label.form-label.is-invalid-label .form-error {
    display: block;
  }
</style>

<form
  accept-charset="UTF-8"
  action="/api/customizations" method="POST"
  data-abide data-live-validate="true" novalidate>
  
  <input name="utf8" value="{{form_builder.system_fields.utf8}}" type="hidden" />
  <input name="authenticity_token" value="{{form_builder.system_fields.authenticity_token}}" type="hidden" />
  <input name="form_configuration_name" value="{{form_builder.system_fields.form_configuration_name}}" type="hidden" />
  <input name="page_id" value="{{form_builder.system_fields.page_id}}" type="hidden" />
  <input name="slug2" value="{{form_builder.system_fields.slug2}}" type="hidden" />
  <input name="slug3" value="{{form_builder.system_fields.slug3}}" type="hidden" />
  <input name="resource_id" value="{{form_builder.system_fields.resource_id}}" type="hidden" />
  <input name="parent_resource_id" value="{{form_builder.system_fields.parent_resource_id}}" type="hidden" />
  <input name="parent_resource_class" value="{{form_builder.system_fields.parent_resource_class}}" type="hidden" />

  <div class="grid-container forgot-password-wrap">
    <div class="grid-x grid-padding-x">
      <div class="large-12 cell">
        <label class="form-label">Email

            <div class="control-group email required form_properties_email">
                <div class="controls">
              
                  <input id="emailInput" class="string email required" placeholder="Email Address"
                    type="email" name="form[properties_attributes][email]"
                    id="form_properties_attributes_email" required />
              
                </div>
              </div>

          <p class="error-block-out form-error">
            Please enter a valid Email Address
          </p>
        </label>
      </div>
      <div class="large-12 cell submit-btn-wrap">
        {% comment %} {% submit 'Recover Password' class: 'ripple-effects' %} {% endcomment %}
        
        <ins-button type="submit" label="SUBMIT" id="submitButton" solid color="blue"></ins-button>
      </div>
    </div>
  </div>
</form>
<script>
  
  function updateButtonState(){
    var emailInput = document.getElementById('emailInput');
    
    if (!emailInput.className.includes('is-invalid-input') && emailInput.value){
      submitButton.loading = true;
      submitButton.disabled = true;
    }
  }

  var submitButton = document.getElementById('submitButton');
  submitButton.addEventListener('click', updateButtonState);
</script>